<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionareRegimuri</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gestionare Regimuri</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (Context.Request.Path.ToString().Equals("/Alimente", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-link text-black-50">Alimente</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Aliment" asp-action="Index">Alimente</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (Context.Request.Path.ToString().Equals("/Boala", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-link text-black-50">Boli</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Boala" asp-action="Index">Boli</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (Context.Request.Path.ToString().Equals("/Retete", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-link text-black-50">Retete</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reteta" asp-action="Index">Rețete</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (Context.Request.Path.ToString().Equals("/Forum", StringComparison.OrdinalIgnoreCase))
                            {
                                <a class="nav-link text-black-50">Forum</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                            }
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Gestionare Regimuri - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
