@{
    ViewData["Title"] = "Acasă";
}

<div class="text-center">
    <h2>Aplicație web pentru gestionarea regimurilor alimentare</h2>
    <br />
    <h2>Chiurtu Cristian</h2>
    <br />
    <h2>Coordonator Științific</h2>
    <br />
    <h2>Șef lucrări doctor inginer Eugen Dumitrașcu</h2>
    <br />
    <h3>Enuntul temei:</h3>
    <br />
    <p>Realizarea unei aplicatii web pentru gestionarea regimurilor alimentare la bolnavi. In functie de boala, aplicatia afiseaza valorile nutriționale, indicații, contraindicații, sugerează rețete si evidențieaza informațiile corespunzătoare.</p>
</div>
