@model GestionareRegimuri.ViewModels.IndicatiiViewModel

@{ ViewData["Title"] = "Editare Indicatii"; }


<h1>Editare</h1>

<h4>Indicatie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IndicatiiID" />
            <div class="form-group">
                <label asp-for="AlimentID" class="control-label"></label>
                <input asp-for="AlimentID" class="form-control" />
                <span asp-validation-for="AlimentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boala" class="control-label"></label>
                <input asp-for="Boala" class="form-control" />
                <span asp-validation-for="Boala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motiv" class="control-label"></label>
                <input asp-for="Motiv" class="form-control" />
                <span asp-validation-for="Motiv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvare" class="btn btn-primary" />
                <button asp-action="Delete" class="btn btn-primary" asp-route-id="@Context.Request.Query["id"]">Sterge</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anulare</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
