@model GestionareRegimuri.ViewModels.RetetaViewModel

@{ ViewData["Title"] = "Editare Reteta"; }


<h1>Adaugare</h1>

<h4>Reteta</h4>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RetetaNume" class="control-label">Nume reteta</label>
                <input asp-for="RetetaNume" class="form-control" />
                <span asp-validation-for="RetetaNume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boli" class="control-label"></label>
                <input asp-for="Boli" class="form-control" />
                <span asp-validation-for="Boli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creare" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anulare</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}